**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
*.md
!README.md
notebooks/
docs/
frontend/
.vscode/
.idea/
*.log
